@model FodraszatIdopont.Models.AppointmentDTO;
<body>
@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-success w-50 text-center mx-auto">@TempData["msg"]</div>
    }
}

<h1 class="display-4 fw-bold text-center">Időpontfoglalás</h1>

<form asp-action="MAAppointment" method="post" class="w-50 mx-auto border border-3 rounded shadow p-4 mt-4">
    @{
        Html.AntiForgeryToken();
        if (TempData["error_msg"] != null)
        {
            <div class="alert alert-danger text-center">@TempData["error_msg"]</div>
        }
    }
    
    <div class="row g-4">
        <div class="col-md-6">
            <label class="form-label fw-bold fs-5">Válassz fodrászt</label>
            <select class="form-select form-select-lg shadow-sm"
                    asp-for="Appointment.HairdresserId">
                <option value="">--Válassz fodrászt--</option>

                @foreach(var item in Model.Hairdressers)
                {
                    <option value="@item.UserId" asp>@item.Name</option>
                }
            </select>
        </div>

        <div class="col-md-6">
            <label class="form-label fw-bold fs-5">Válassz szolgáltatást</label>
            <select class="form-select form-select-lg shadow-sm"
                    asp-for="Appointment.ServiceId">
                <option value="">--Válassz szolgáltatást--</option>
                @foreach (var item in Model.Services)
                {
                    <option value="@item.ServiceId">@item.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row g-4 mb-4">
        <div class="col-12">
            <label class="form-label fw-bold fs-5 text-primary">Válassz időpontot a naptárból</label>
            <div id="calendar" class="shadow rounded-4 p-3 bg-white"></div>
        </div>
    </div>

    <input type="hidden" asp-for="Appointment.StartTime" id="selectedStartTime" />

    <button type="submit" class="btn btn-primary w-100 mt-3">Időpont lefoglalása</button>
</form>

    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                locale: 'hu',
                height: 650,
                events: [
                    {
                        title: 'Teszt esemény',
                        start: new Date().toISOString(),
                        end: new Date(new Date().getTime() + 60*60*1000).toISOString(),
                        color: '#198754'
                    }
                ]
            });

            calendar.render();
        });
    </script>
<style>
</style>
</body>